/* ELEMENTS  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: rgb(66, 65, 65);
}

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: rgba(213, 216, 182, 0.788);
}

body {
  font-family: "Roboto", sans-serif, Geneva, Verdana, sans-serif;
}

#collection-type-form {
  margin-top: 50px;
  border: 2px solid rgb(90, 89, 89);
  background-color: rgb(182, 202, 223);
  padding: 20px;
  border-radius: 10px;
}

#collection-type-form .collection-form-title {
  text-align: center;
  margin-bottom: 20px;
}

#collection-type-form .collection-form-buttons {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

#collection-type-form .collection-form-buttons button {
  /* margin: 0 10px 0 10px; */
}

.btn .submit {
  background-color: aqua;
  width: 100px;
}

input,
label {
  margin: 10px 0 0 0;
}

label {
  margin-left: 5px;
}

.d-none {
  display: none;
}

#collectionsContainer {
}

/* ITEM/COLLECTION CARD DISPLAY */
.collection-card-container {
  width: 100%;
  text-align: center;
  flex-flow: row wrap;
  display: inline-flex;
  /* background-color: aquamarine; */
  justify-content: space-evenly;
  /* text-align: center; */
  /* align-items: center; */
  background-color: rgb(182, 202, 223);
}

.item-card-body {
  border: 2px solid rgb(151, 147, 147);
  border: 2px solid rgb(151, 147, 147);
  width: 40%;
  /* background-color: aquamarine; */
  float: left;
  margin-bottom: 20px;
}
